.book-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 95px;
  padding: 8px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0px 2px #242424;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  writing-mode: tb-rl;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: translateZ(20px) rotateY(-30deg);
  background: linear-gradient(90deg, #e6dbcb, #d9c9b3);
  z-index: 2;

  &:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -10px;
    width: 100%;
    height: 0;
    box-shadow: 0 0 30px 5px #000;
    transition: all 0.3s ease-in-out;
  }

  > p {
    height: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
  }

  &:hover {
    transform: translateZ(20px) rotateY(-30deg) translateY(-10px);

    &:before {
      content: "";
      position: absolute;
      z-index: 2;
      bottom: -10px;
      width: 100%;
      height: 0;
      box-shadow: 0 0 30px 5px #fff;
    }
  }
}
