.platform {
  &-header {
    margin-bottom: 32px;

    &-operation {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      > div {
        margin-right: 16px;
      }
    }
  }

  &-content {
    margin-bottom: 24px;
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
  }
}
