.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #f8fcf7;
  user-select: none;

  .logo {
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 50px;
    animation: logo-rotate 20s linear infinite;
  }
}

@keyframes logo-rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(359deg);
  }
}
